<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>

	<!-- Add task 9 starting here! -->

</body>

</html>