<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="employeeId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.id} : ''" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="employeeManagerId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.managerId} : ''" />
						</td>
					</tr>
					<tr th:class="${employee.isEmpty} ? hidden : ''">
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeEmployeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.employeeId} : ''" class="update" disabled />
						</td>
					</tr>
					<!-- TODO: Other employee inputs -->
				</tbody>
			</table>
		</div>

		<!-- TODO: An action element to initiate a save -->

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="footer" th:classappend="${employee.isInitialEmployee} ? hidden : ''">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html>