<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="employeeId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.id} : ''" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="employeeManagerId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.managerId} : ''" />
						</td>
					</tr>
					<tr th:class="${employee.isEmpty} ? hidden : ''">
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeEmployeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.employeeId} : ''" class="update" disabled />
						</td>
					</tr>
					<tr>
						<td class="label">First Name:</td>
						<td>
							<input id="employeeFirstName" type="text" th:value="${!employee.isEmpty} ? ${employee.firstName} : ''" class="update" />
						</td>
					</tr>
					<tr>
						<td class="label">Last Name:</td>
						<td>
							<input id="employeeLastName" type="text" th:value="${!employee.isEmpty} ? ${employee.lastName} : ''" class="update" />
						</td>
					</tr>
					<tr>
						<td class="label">Password:</td>
						<td>
							<input id="employeePassword" type="password" value="" class="update" />
						</td>
					</tr>
					<tr>
						<td class="label">Confirm Password:</td>
						<td>
							<input id="employeeConfirmPassword" type="password" value="" class="update" />
						</td>
					</tr>
					<tr th:class="${employee.isInitialEmployee} ? hidden : ''">
						<td class="label">Employee Type:</td>
						<td>
							<select id="employeeType" class="select">
								<option th:each="employeeType : ${employeeTypes}" th:value="${employeeType.classification}" th:text="${employeeType.displayLabel}" th:selected="${employee.classification == employeeType.classification}"></option>
							</select>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="employeeActionsWrapper" th:classappend="not ${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<br />
			<button id="saveButton" type="button" class="action">Save</button>
		</div>

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="footer" th:classappend="${employee.isInitialEmployee} ? hidden : ''">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>

</body>

</html>