<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="../static/styles/master.css">

	<script type="text/javascript" src="../static/scripts/master.js" defer></script>
	<script type="text/javascript" src="../static/scripts/mainMenu.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<!-- TODO: Add the various action button elements -->
		<div class="mainMenuActionsWrapper">
			<div>
				<button id="startTransactionButton" type="button" class="action" onclick="getStartTransactionActionElement()">Start Transaction</button>
			</div>

			<div>
				<button id="viewProductsButton" type="button" class="action" onclick="getViewProductsActionElement()">View Products</button>
			</div>
			<div th:class="not ${isElevatedUser} ? hidden : ''">
				<div>
					<button id="createEmployeeButton" type="button" class="action" onclick="getCreateEmployeeActionElement()">Create Employee</button>
				</div>

				<div>
					<button id="productSalesReportButton" type="button" class="action" onclick="getProductSalesReportActionElement()">Sales Report</button>
				</div>

				<div>
					<button id="cashierSalesReportButton" type="button" class="action" onclick="getCashierSalesReportActionElement()">Cashier Report</button>
				</div>
			</div>
		</div>
            
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img id="signOutImage" src="../static/images/Sign-Out.jpeg" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>