<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="mainMenuActionsWrapper">
			<br />
			<button id="startTransactionButton" type="button" class="action" title="Functionality Not Available">Start Transaction</button>
			<br /><br />
			<button id="viewProductsButton" type="button" class="action">View Products</button>
			<div th:class="not ${isElevatedUser} ? hidden : ''">
				<br />
				<button id="createEmployeeButton" type="button" class="action">Create Employee</button>
				<br /><br />
				<button id="productSalesReportButton" type="button" class="action" title="Functionality Not Available">Product Sales</button>
				<br /><br />
				<button id="cashierSalesReportButton" type="button" class="action" title="Functionality Not Available">Cashier Sales</button>
			</div>
		</div>
	</div>

	<div class="hidden">
		<input type="checkbox" id="isRefreshed" class="hidden">
		<script type="text/javascript">
			window.onunload = function() {
				const isRefreshedElement = document.getElementById("isRefreshed");

				if(!isRefreshedElement.checked) {
					isRefreshedElement.checked = true;
				} else {
					isRefreshedElement.checked = false;
					location.reload();
				}
			}
		</script>
	</div>

	<div class="footer">
		<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
	</div>
		
</body>

</html>