<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Main Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/mainMenu.js" defer></script>
</head>

<body>
	<div class="header">
		<h1 class="primary-message">Main Menu</h1>
	</div>
	
	<div id="main" class="main">
		<ul id="pageListing">
			<li>
				<button id="viewProductsButton" type="button" class="action">View Products</button>
			</li>
		</ul>
	</div>
</body>