<html xmlns:th="https://www.thymeleaf.org"> <!-- sprint2 task2,3 -->

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>
	
<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''"> <!-- here is hidden message -->
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		
		<form action="#" method="post" onsubmit="return ValidationEvent()">
			<!-- TODO: Form input elements -->
			<!-- below are blank text for Employee ID and Password -->

			<div>
			<label>Employee ID :</label>
			<input id="employeeId" name="employeeId" placeholder="Emplyee ID" type="text">
			</div>

			<div>
			<label>Password :</label>
			<input id="password" name="password" placeholder="Password" type="text">
			</div>

			<button onclick="validateForm(); return false;">Sign In</button><br>
		</form>
	</div>
		
</body>

</html>
