<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Sign In</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		<form name="signIn" action="/" method="POST" onsubmit="return validateForm();" class="inputContent">
			<label for="employeeID">Employee ID:</label>
			<input type="number" id="employeeId" name="employeeId" max="99999">
			<br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password">
			<br><br>
			<input type="submit" value="Submit">
		</form>
	</div>
		
</body>

</html>