<html>
<head>
	<title>Team-Super-Mega-Store-store login</title>
</head>

<h1>Team-SMS-store login</h1>
<form action="http://team-sms-store.herokuapp.com/" method="POST" id="signinform">

	<label for="employee"> EmployeeID: </label><br>
	<input type="text" id="employeeid" name="employee"><br>
	
	<label for="password"> Password: </label><br>
	<input type="text" id="password" name="password"><br><br>
	
	<input type="submit" value="Sign in" onclick="test();">
	<div id="alert" style="color: red"></div>
</form>

 <script> 
	var form = document.getElementById("signinform");
	//this function test() will have the variables for employeeid and password, in id and password
	//this function is called from "submit" below the password line for the form section
	function test()
	{
		var id = document.getElementById("employeeid").value;
		var password = document.getElementById("password").value;
		validate();
		console.log(id);
		console.log(password);
		
	}
	function validate()
	{
		var id = document.getElementById("employeeid").value;
		var password = document.getElementById("password").value;
		
		
		if(id == '' || isNaN(id))
			{
				
				window.alert("Please enter a valid employee ID.");
			}
		if(password == '')
			{
				window.alert("Please enter a valid password.");
			}
	}
	
 </script> 

</html>