<html xmlns:th="https://www.thymeleaf.org"> <!-- sprint2 task2,3 -->

<head>
	<title>Register - Sign In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/signIn.js" defer></script>
</head>
	
<body>
<style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
</style>

	<body bgcolor="#54221a"><br><br>
		<div class="header">
<table align="center" cellpadding="50" border="1" bgcolor="#aabb91" width="720"><tbody><tr><td>
		<h1 class="primary-message" align="center">My GPA Needs An A</h1>
	</div>
		
	<div id="main" class="main">
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''"> <!-- here is hidden message -->
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>
		
		<form action="#" method="post" onsubmit="return ValidationEvent()">
			<!-- TODO: Form input elements -->
			<!-- below are blank text for Employee ID and Password -->
		
			<body bgcolor="#54221a"><br><br>
			<table align="center" cellpadding="2" border="1" bgcolor="#ffbb91" width="400"><tbody><tr><td>
			
			<h2 align="center" class="primary-message">sign in</h2>
	
			<div>
			<label>&emsp; &emsp;Employee ID :</label>
			<input id="employeeId" name="employeeId" placeholder="Emplyee ID" type="text">
			</div><br>

			<div>
			<label>&emsp; &emsp; &emsp;Password :</label>
			<input id="password" name="password" placeholder="Password" type="text">
			</div>

			<div class="center">
			<button onclick="validateForm(); return false;">Sign In</button><br>
			</div>
				
		</form>
	</div>
		
</body>

</html>
